
html { overflow-y: hidden;
	   overflow-x: hidden;
 } 


body {
	
	background-color: #222222;
  	background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
	width: 100%;
}

h1 {
	display : block;
	text-transform: uppercase;
	color: #FF1177;
  	font-family: 'Audiowide', cursive;
	text-align:center;
	font-size:6em;
	position: absolute;
	left : 22%;
}

#gagne {
	font-family: 'Iceland';
	text-transform: uppercase;
	text-align:center;
	font-size:100px;
	margin:20px 0 20px 0;
	color:#fff;
	position : absolute;
	left : 32%;
	top : 50%;
	display : none;

	  /*Animation*/
	  animation: neonAnimation 1.5s ease-in-out infinite alternate;   
}

@keyframes neonAnimation {

	from {
	  text-shadow: 0 0 10px #ffffff,
	             0 0 20px  #ffffff,
	             0 0 30px  #ffffff,
	             0 0 40px  #228DFF,
	             0 0 70px  #228DFF,
	             0 0 80px  #228DFF,
	             0 0 100px #228DFF,
	             0 0 150px #228DFF;
	}
	to {
	  text-shadow: 0 0 5px #ffffff,
	        0 0 10px #ffffff,
	        0 0 15px #ffffff,
	        0 0 20px #228DFF,
	        0 0 35px #228DFF,
	        0 0 40px #228DFF,
	        0 0 50px #228DFF,
	        0 0 75px #228DFF;
	}
}

#casepleine {
	background-color: transparent;
}

#casevide{
	background-color: #fff;
	/*transition : background-color 200ms linear;*/
}

.case {
	display: inline-block;
	text-align: center;
	margin: 0;
  	padding: 0;

}

#labyrinthe{
	/*width : 240px;*/
	line-height: 0;
	position: absolute;
	top: 30%; left: 26%;
	transition: all 1s ease-in-out;
}

#arrive{
	background-color: #228DFF;
}

#depart{
	background-color: #00FF00;
}

#Thésée{
	background-color: #00FF
}
